{:deps {:aliases [:cljs]}
 :dev-http {8020 {:root      "resources/public"
                  :proxy-url "http://localhost:3000"}}
 :builds
 {:frontend
  {:target           :browser
   :asset-path       "/js"
   :output-dir       "resources/public/js"
   :git-inject       {:version-pattern "^(.*)$"}
   :build-hooks      [(shadow-git-inject.core/hook)
                      (shadow-env.core/hook)
                      (hooks/copy-assets
                       {:public-dir "resources/public"
                        :assets     {"resources/src/icons"      "icons"
                                     "resources/src/index.html" "index.html"}})]
   :dev              {:build-hooks [(hooks/webpack-watch)]}
   :release          {:build-hooks [(hooks/webpack-release)]}
   :compiler-options {:closure-defines {tubo.utils/version
                                        :shadow-git-inject/version}}
   :js-options       {:entry-keys        ["module" "browser" "main"]
                      :export-conditions ["import" "module" "browser" "require"
                                          "default"]}
   :modules          {:main {:init-fn tubo.core/init}}}
  :bg-helper
  {:target           :node-script
   :main             tubo.bg-helper/main
   :output-to        "resources/public/js/bg-helper.js"
   :devtools         {:before-load-async tubo.bg-helper/stop
                      :after-load        tubo.bg-helper/start}
   :compiler-options {:reader-features #{:node}}}}}
