{:deps {:aliases [:frontend]}
 :dev-http {8020 {:root      "resources/public"
                  :proxy-url "http://localhost:3000"}}
 :builds
 {:tubo
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :js-options {:entry-keys        ["module" "browser" "main"]
                :export-conditions ["import" "module" "browser" "require"
                                    "default"]}
   :modules    {:main {:init-fn tubo.core/init}}}}}
