@use "@fontsource/nunito-sans/scss/mixins" as NunitoSans;
$fontsourceDir: "~@fontsource";
@include NunitoSans.faces(
  $weights: (
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900,
  )
);
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

media-time-range {
  --media-range-thumb-transform: scale(0) translate(0%, 0%);
}

media-time-range:hover {
  --media-range-track-height: 5px;
  --media-range-thumb-transform: scale(1) translate(0%, 0%);
}
